<html>
  <head>
    <title>
      HNO-Lernprogramm
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>
    <div style="text-align:center">
      <a  href ="/lernen">
        {% load static %}
        <img src="{% static "ubung/hno_start_logo.jpg" %}" alt="My image" style="height:80%;"/>
      </a>
    </div>
    <div style="text-align:center; margin-top: 15px;">
      <a href="/lernen/{{ ersteSeite }}" class = "btn btn-lg btn-info"> START </a>
    </div>
  </body>

</html>
