<html>
  <head>
    <title>
      HNO-Lernprogramm
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script>window.CKEDITOR_BASEPATH = '/static_root/ckeditor/ckeditor/';</script>
  </head>
  <body>
    <h1> Hallo on the Admin seite </h1>
    <p> {{test}} </p>
    <form action="" method="post" novalidate>
    <table>
      {{ form.media }}
      {{ form.as_p }}
    </table>
    {% csrf_token %}
    <input type="submit" value="Submit">
</form>
{% load static %}
  </body>

</html>
